<div style="position:relative">
  <div class="header"></div>
  <div class="container">
    <div class="btn-panel">
      <img class="gog-logo" src="../assets/img/logo.png" alt="Italian Trulli">
      <app-shopping-cart [shoppingCart]="cartStore.cart$ | async" (removeItem)="removeFromCart($event)" (clearCart)="clearCart()"></app-shopping-cart>
    </div>
    <app-game-spot class="game-spot" [image]="imageSpotScr"></app-game-spot>
    <div class="row" style="margin-bottom: 2rem;" >
      <app-game-card *ngFor="let game of cartStore.spots$ | async" class="column" [game]="game" (addToCart)="addToCart($event)"></app-game-card>
    </div>
  </div>

  <button mat-raised-button class="secret-button">IMPLEMENTED SECRET BUTTON :)</button>

</div>